.booking-container {
  padding: 40px;

  background: #f5f7fb;

  min-height: 100vh;
}

.booking-container h1 {
  text-align: center;

  margin-bottom: 30px;
}

.booking-flight-card {
  background: white;

  border-radius: 15px;

  padding: 30px;

  max-width: 900px;

  margin: auto;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.booking-flight-card h2 {
  color: #005bea;
}

.booking-route {
  display: flex;

  justify-content: center;

  align-items: center;

  gap: 60px;

  margin: 30px 0;

  text-align: center;
}

.booking-route h3 {
  font-size: 30px;
}

.booking-route p {
  font-size: 25px;

  font-weight: bold;
}

.arrow {
  font-size: 35px;
}

.booking-price {
  font-size: 22px;

  text-align: right;
}

.booking-price strong {
  color: #e53935;
}

.customer-form {
  background: white;

  max-width: 900px;

  margin: 30px auto;

  padding: 30px;

  border-radius: 15px;
}

.customer-form input {
  width: 100%;

  padding: 15px;

  margin-bottom: 15px;

  border-radius: 8px;

  border: 1px solid #ddd;
}

.customer-form button {
  background: #0066ff;

  color: white;

  padding: 15px 40px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;
}

.booking-empty {
  padding: 50px;

  text-align: center;

  font-size: 25px;
}
